<?xml version="1.0" encoding="utf-8"?>
<!-- Qex Studio License
*******************************************************************************
*                                                                             *
*    Copyright (c) 2017-2021 Luciano Gorosito <lucianogorosito@hotmail.com>   *
*                                                                             *
*    This file is part of Qex Studio                                          *
*                                                                             *
*    Qex Studio is free software: you can redistribute it and/or modify       *
*    it under the terms of the GNU General Public License as published by     *
*    the Free Software Foundation, either version 3 of the License, or        *
*    (at your option) any later version.                                      *
*                                                                             *
*    Qex Studio is distributed in the hope that it will be useful,            *
*    but WITHOUT ANY WARRANTY; without even the implied warranty of           *
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            *
*    GNU General Public License for more details.                             *
*                                                                             *
*    You should have received a copy of the GNU General Public License        *
*    along with this program.  If not, see <https://www.gnu.org/licenses/>.   *
*                                                                             *
*******************************************************************************
-->
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="DocX" version="1.0.0.22" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net461" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net452" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net461" />
</packages>